In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,La Tuque,CA,2021-04-07 19:35:10,47.4334,-72.7824,66.20,39,39,5.75
1,1,Cabo San Lucas,MX,2021-04-07 19:32:33,22.8909,-109.9124,82.40,65,75,8.05
2,2,Arraial Do Cabo,BR,2021-04-07 19:30:18,-22.9661,-42.0278,75.20,78,40,5.75
3,3,Butaritari,KI,2021-04-07 19:34:36,3.0707,172.7902,80.82,79,19,11.95
4,4,Ushuaia,AR,2021-04-07 19:30:50,-54.8000,-68.3000,50.00,87,40,1.81

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights = clouds , dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 75

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,La Tuque,CA,2021-04-07 19:35:10,47.4334,-72.7824,66.20,39,39,5.75
4,4,Ushuaia,AR,2021-04-07 19:30:50,-54.8000,-68.3000,50.00,87,40,1.81
5,5,Saint Anthony,US,2021-04-07 19:35:10,45.0205,-93.2180,66.99,82,90,9.22
6,6,Albany,US,2021-04-07 19:34:37,42.6001,-73.9662,68.00,33,17,7.83
7,7,Saint George,US,2021-04-07 19:35:11,37.1041,-113.5841,73.99,10,60,2.46
8,8,Gwanda,ZW,2021-04-07 19:34:14,-20.9333,29.0000,61.36,60,3,6.60
17,17,Cape Town,ZA,2021-04-07 19:34:34,-33.9258,18.4232,64.99,88,0,14.97
20,20,Castro,BR,2021-04-07 19:34:50,-24.7911,-50.0119,67.39,73,94,8.97
23,23,Benghazi,LY,2021-04-07 19:35:14,32.1167,20.0667,62.40,62,88,2.51
24,24,Jamestown,US,2021-04-07 19:32:44,42.0970,-79.2353,73.99,49,1,10.36

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
0        La Tuque      CA     66.20  47.4334  -72.7824
4         Ushuaia      AR     50.00 -54.8000  -68.3000
5   Saint Anthony      US     66.99  45.0205  -93.2180
6          Albany      US     68.00  42.6001  -73.9662
7    Saint George      US     73.99  37.1041 -113.5841
8          Gwanda      ZW     61.36 -20.9333   29.0000
17      Cape Town      ZA     64.99 -33.9258   18.4232
20         Castro      BR     67.39 -24.7911  -50.0119
23       Benghazi      LY     62.40  32.1167   20.0667
24      Jamestown      US     73.99  42.0970  -79.2353

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [17]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,La Tuque,CA,66.20,47.4334,-72.7824,Gîte aux Trois Pignons
4,Ushuaia,AR,50.00,-54.8000,-68.3000,Albatros Hotel
5,Saint Anthony,US,66.99,45.0205,-93.2180,Holiday Inn Express Roseville-St. Paul
6,Albany,US,68.00,42.6001,-73.9662,
7,Saint George,US,73.99,37.1041,-113.5841,Best Western Plus Abbey Inn

In [19]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

         Lat       Lng
0    47.4334  -72.7824
4   -54.8000  -68.3000
5    45.0205  -93.2180
6    42.6001  -73.9662
7    37.1041 -113.5841
..       ...       ...
535 -35.6167  174.5000
539 -21.5333  165.9500
547 -23.7000  133.8833
552 -41.0000  145.7167
553 -28.6500  153.6167

[177 rows x 2 columns]

In [16]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat","Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{column1}</dd>
<dt>Another name</dt><dd>{column2}</dd>
</dl>
"""

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [19]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))