## Deliverable 3. Create a Travel Itinerary Map.

In [162]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [163]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Punta Arenas,CL,55.40,clear sky,-53.1500,-70.9167,Hotel Dreams Del Estrecho
1,5,Hermanus,ZA,64.99,broken clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
2,14,Airai,TL,59.40,scattered clouds,-8.9266,125.4092,Juvinal Martin
3,16,Sayyan,YE,60.62,clear sky,15.1718,44.3244,متنزه و بحيرة سيان
4,20,New Norfolk,AU,60.80,light rain,-42.7826,147.0587,The Shingles Riverside Cottages

In [164]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [165]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
# 4b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [166]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Lakes Entrance"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Lakes Entrance"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Albury"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Mount Gambier"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Codrington"]

In [167]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()
end = vacation_end[["Lat", "Lng"]].to_numpy()
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()

start_loc = [start[0,0], start[0,1]]
end_loc = [end[0,0], end[0,1]]
stop1_loc = [stop1[0,0], stop1[0,1]]
stop2_loc = [stop2[0,0], stop2[0,1]]
stop3_loc = [stop3[0,0], stop3[0,1]]

In [168]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
waypoints = [stop1_loc, stop2_loc, stop3_loc]
fig = gmaps.figure()
start_to_end = gmaps.directions_layer(start_loc, end_loc, waypoints = waypoints,  travel_mode = "DRIVING")
fig.add_layer(start_to_end)
fig

Figure(layout=FigureLayout(height='420px'))

In [134]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,424,Lakes Entrance,AU,55.99,few clouds,-37.8811,147.9810,The Esplanade Resort & Spa
1,580,Albury,AU,60.01,clear sky,-36.0833,146.9167,Albury Georgian Motel & Suites
2,197,Mount Gambier,AU,51.80,scattered clouds,-37.8333,140.7667,Commodore on the Park
3,376,Codrington,AU,55.98,scattered clouds,-38.2667,141.9667,Codrington Gardens Bed And Breakfast
4,424,Lakes Entrance,AU,55.99,few clouds,-37.8811,147.9810,The Esplanade Resort & Spa

In [138]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [140]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))